{% extends "base.html" %} {% block content %}
<!-- Add Income form -->
<h3>Add Income</h3>
<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('add_income') }}">
    <!-- Income amount -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa-solid fa-money-bill-1 prefix light-blue-text text-darken-4"></i>
        <input id="income_amount" name="income_amount" minlength="1" maxlength="25" type="text" class="validate" required />
        <label for="income_amount">Income amount</label>
      </div>
    </div>
    <!-- Description -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa-solid fa-info prefix light-blue-text text-darken-4"></i>
        <input id="income_description" name="income_description" minlength="3" maxlength="25" type="text" class="validate" required />
        <label for="income_description">Description</label>
      </div>
    </div>
    <!-- Income Date-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa-solid fa-calendar-days prefix light-blue-text text-darken-4"></i>
        <input id="income_date" name="income_date" type="text" class="datepicker validate invalid" required="" />
        <label for="income_date" class="">Income Date</label>
      </div>
    </div>
    <!-- Income Category -->
    <div class="row">
      <div class="input-field col s12">
        <select id="income_category" name="income_category" class="validate" required>
          <option value="" disabled selected>Choose your option</option>
          <!-- Display the Income category only -->
          {% for category in categories %} {% if category.name == 'Income' %}
          <option value="{{ category.id }}" name="income_category" data-icon="{{ category.logo_url}}">{{ category.name }}</option>
          {% endif %} {% endfor %}
        </select>
        <label for="income_category">Choose a Category</label>
      </div>
    </div>
    <!-- submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <button type="submit" class="btn-large light-blue darken-1">Add Income<i class="fas fa-plus-square right"></i></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
