{% extends "base.html" %} {% block content %}
<!-- home page -->
<div class="container">
  <div class="user-div">
    <!-- If there is no user logged in display a header -->
    {% if current_user.is_anonymous == True %}
    <h4>No user logged in, please log in or register!</h4>
    {% else %}
    <!-- If a user is logged in welcome the user -->
    <p class="secondary-color double-font-size">Welcome {{current_user.username}}</p>
    <a href="{{ url_for('sign_out_user') }}" class="double-font-size">Logout</a>
    {% endif %}
  </div>
  <!-- Welcome Header -->
  <div class="welcome-display">
    <h3 class="secondary-color">Welcome to Budgetpal!</h3>
    <h5 class="secondary-color">Your Financial GPS for Smarter Spending!</h5>
  </div>
</div>
<!-- Reasons for using an expenses manager -->
<div class="container reasons-section">
  <h4 class="center-align">Why Use Budgetpal?</h4>
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <i class="fas fa-chart-line"></i>
        <h5>Financial Awareness</h5>
        <p>Gain insights into your spending habits and financial patterns to make informed decisions.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <i class="fas fa-wallet"></i>
        <h5>Budgeting and Planning</h5>
        <p>Create realistic budgets to allocate funds effectively for various purposes.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <i class="fas fa-bullseye"></i>
        <h5>Goal Setting</h5>
        <p>Set achievable financial goals and track your progress toward a secure financial future.</p>
      </div>
    </div>
  </div>
</div>
{% endblock%}
