{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s6">
    <h3>User Page</h3>
  </div>
</div>
<div class="row">
  <div class="col s12">
    {% if current_user.is_anonymous == True %}
    <div>
      <span>No User, Please<a href="{{ url_for('loggin') }}">Login</a></span>
    </div>
    {% else %}
    <div>
      <h4>Welcome {{current_user.username}}</h4>
      <a
        href="{{ url_for('add_income') }}"
        class="btn-large secondary-color light-blue darken-4"
        >Add Income <i class="fa-solid fa-hand-holding-dollar"></i
      ></a>
      <a
        href="{{ url_for('add_expense') }}"
        class="btn-large secondary-color light-blue darken-4"
        >Add Expense <i class="fa-solid fa-coins"></i
      ></a>
      <a
        href="{{ url_for('add_category') }}"
        class="btn-large secondary-color light-blue darken-4"
        >Add Category <i class="fa-solid fa-layer-group"></i
      ></a>
      <a
        href="{{ url_for('loggout') }}"
        class="btn-large secondary-color light-blue darken-4"
        >Logout <i class="fa-solid fa-person-walking-arrow-right"></i
      ></a>
    </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col s3">
    {% if current_user.is_anonymous != True %}
    <h5>Balance: {{current_user.balance}}</h5>
  </div>
  <div class="col s3">
    <h5>Savings: {{current_user.savings}}</h5>
  </div>
</div>
<div class="row">
  <div class="col s10">
    <ul class="collection">
      <li class="collection-item">Expenses</li>
      {% for expense in expenses %}
      <li class="collection-item expenses-collection-item">
        {% set expense_category = categories|selectattr('id', 'equalto',
        expense.category_id)|first %} {% if expense_category %}
        <img
          src="{{ expense_category.logo_url }}"
          alt="Category Logo"
          class="category_logo"
        />
        {% endif %}
        <span>
          <strong>Amount:</strong> {{ expense.amount }}<br />
          <strong>Description:</strong> {{ expense.description or 'N/A' }}<br />
          <strong>Date:</strong> {{ expense.expense_date or 'N/A' }}
          <div class="expenses-buttons-container">
            {% if expense_category and expense_category.name not in ['Income', 'Saving'] %}
            <a
              href="{{ url_for('edit_expense', expense_id=expense.id) }}"
              class="btn green accent-4"
              >Edit</a
            >
            {% endif %}
            <a
              href="{{ url_for('delete_expense', expense_id=expense.id) }}"
              class="btn red"
              >Delete</a
            >
          </div>
        </span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock%}
