body {
    background-color: #4c5d64;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
}

main {
    flex: 1 0 auto;
}

.small-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.secondary-color {
    color: #e69f17;
}

.category_logo {
    max-width: 50px;
    max-height: 50px;
}

.expenses-collection-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.expenses-collection-item img {
    margin-right: 10px;
}

.expenses-buttons-container {
    position: absolute;
    top: 4px;
    right: 0;
}

.expenses-buttons-container a {
    display: block;
    margin-bottom: 5px;
    /* Adjust the spacing between buttons */
}

.user-div {
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
    left: 0;
}

.user-div a {
    margin-left: 5px;
}

.welcome-display {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.welcome-display h3 {
    font-family: 'sans-serif';
}


.double-font-size {
    font-size: 2em;
}

.footer-icon {
    height: 20px;
    width: 20px;
}