/* general body formatting */
body {
    background-color: #4c5d64;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
}

/* Main section formatting */
main {
    flex: 1 0 auto;
}

/* Home page */
.welcome-display {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-display h3 {
    font-family: 'sans-serif';
}

/* User page */
.expenses-collection-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.expenses-collection-item img {
    margin-right: 10px;
}

.expenses-buttons-container {
    position: absolute;
    top: 4px;
    right: 0;
}

.expenses-buttons-container a {
    display: block;
    margin-bottom: 5px;
    /* Adjust the spacing between buttons */
}

.user-div {
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
    left: 0;
}

.user-div a {
    margin-left: 5px;
}

.secondary-color {
    color: #e69f17;
}

/* Category logo */
.category_logo {
    max-width: 50px;
    max-height: 50px;
}

/* Footer */
.page-footer {
    padding-bottom: 20px;
}

/* Minor formatting elements */
.small-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.double-font-size {
    font-size: 2em;
}

.small-margin-right {
    margin-right: 5px;
}

/* Overriding btn-large materialize class margin setting */
.btn-large {
    margin: 5px
}